.collections {
  width: 100%;
  height: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 58px;
}

.collections__header {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 36px;
  line-height: 89%;
  color: var(--color-black);
}

.collections__conteiner {
  width: auto;
  height: auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  justify-content: center;
}

.collections__conteiner__1 {
  width: auto;
  max-width: 397px;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.conteiner__1__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.conteiner__1__text-1 {
  width: auto;
  max-width: 397px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--third-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  color: var(--color-black);
}

.conteiner__1__text {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 21px;
  align-items: center;
}

.conteiner__1__text-2 {
  width: auto;
  height: auto;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--color-orange);
}

.conteiner__1__text-3 {
  width: auto;
  height: auto;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-decoration: line-through;
  color: var(--color-light-gray);
}

.collections__button {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .collections__button-1 {
    width: 254px;
    height: 56px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 156%;
    text-align: center;
    color: var(--color-black);
    border: 2px solid;
    border-color: var(--color-orange);
  }
}

@media (--sm-viewport) {
  .collections__conteiner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (--lg-viewport) {
  .collections__conteiner {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (--xl-viewport) {
  .collections__conteiner {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
