.indent__1 {
  width: 100%;
  height: 66px;
}

.indent__2 {
  width: 100%;
  height: 36px;
}

.indent__3 {
  width: 100%;
  height: 138px;
}

.indent__4 {
  width: 100%;
  height: 138px;
}

.indent__5 {
  width: 100%;
  height: 137px;
}

.indent__6 {
  width: 100%;
  height: 85px;
}

.indent__7 {
  width: 100%;
  height: 82px;
}

.indent__8 {
  width: 100%;
  height: 118px;
}

.indent__9 {
  width: 100%;
  height: 119px;
}

.indent__10 {
  width: 100%;
  height: 136px;
}
